.todo {
  width: 100%;

  &_input {
    background-color: var(--gray-500);
    border-radius: 8px;
    border: 0;
    box-shadow: 0 0 0 2px var(--gray-700);
    color: var(--gray-300);
    height: 3.3rem;
    line-height: 1.4;
    outline: transparent;
    padding: 1rem;
    resize: none;
    width: 100%;

    transition: box-shadow 0.2s;
  }

  :focus {
    box-shadow: 0 0 0 2px var(--brand-purple-dark);
    color: var(--gray-100);
  }
}