.tasks {
  align-items: center;
  background-color: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.3rem;

  &__content {
    align-items: center;
    display: flex;
    gap: 0.75rem;

    &_checkbox {
      &_block {
        appearance: none;
        background-color: var(--gray-400);
        border-radius: 8px;
        border: 1px solid var(--brand-blue);
        cursor: pointer;
        padding: 0.50rem;
      }

      :hover {
        background-color: var(--brand-purple-dark);
      }
  
      :checked {
        background-color: var(--brand-purple);
        border-radius: 8px;
        padding: 0.50rem;
      }
  
      :checked:after {
        color: var(--gray-100);
        content: '\2714';
        font-size: 16px;
        margin-left: -5px;
        margin-top: -12px;
        position: absolute;
      }
    }

    &_paragraph {
      color: var(--gray-100);
      font-size: 0.875rem;
      line-height: 1.6;
    }
  }

  &__trash {
    background: transparent;
    border-radius: 4px;
    border: none;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    transition: color 0.2s;

    :hover {
      background-color: var(--gray-400);
      border-radius: 4px;
      color: var(--danger);
    }
  }
}