.tasks {
  display: flex;
  gap: 0.75rem;
  background-color: var(--gray-500);
  padding: 1.3rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;

  &__content {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    &_checkbox {
      &_block {
        cursor: pointer;
        appearance: none;
        border: 1px solid var(--brand-blue);
        padding: 0.50rem;
        border-radius: 8px;
        background-color: var(--gray-400);
      }

      :hover {
        background-color: var(--brand-purple-dark);
      }
  
      :checked {
        padding: 0.50rem;
        background-color: var(--brand-purple);
        border-radius: 8px;
      }
  
      :checked:after {
        content: '\2714';
        position: absolute;
        margin-top: -12px;
        margin-left: -5px;
        font-size: 16px;
        color: var(--gray-100);
      }
    }

    &_paragraph {
      font-size: 0.875rem;
      color: var(--gray-100);
      line-height: 1.6;
    }
  }

  &__trash {
    cursor: pointer;
    background: transparent;
    color: var(--gray-300);
    border: none;
    line-height: 0;
    border-radius: 4px;
    transition: color 0.2s;

    :hover {
      color: var(--danger);
      background-color: var(--gray-400);
      border-radius: 4px;
    }
  }
}