.emptystate {
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 1px solid var(--gray-300);
  display: flex;
  flex-direction: column;
  padding: 9rem 10rem;

  &__icon {
    width: 3.5rem;
  }

  &__title {
    color: var(--gray-300);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  &__subtitle {
    color: var(--gray-300);
    font-size: 1rem;
  }
}